body {
  background-color: #DFEEEA;
}

h1 {
  color: #152D35;
}

h3 {
  color: #345B63;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  width: 200px;
}

ul {
  height: 40px;
}
