body {
  background-color: #FAF2F2;
  font-family: 'Times New Roman', serif;
}

h1 {
  color: #7D5A5A;
}

h3 {
  color: #7D5A5A;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #851D41;
  border-width: 5px;
  width: 5%;
}

a:visited {
  color: #851D41;
  text-decoration: none;
}

a:hover {
  color: #CD3F3E;
  text-decoration: none;
  box-shadow: 10px 5px 5px #851D41;
}

img {
  width: 150px;
}

img:hover {
  width: 300px;
}

li {
  margin: 10px;
}

.outline {
  background-color: #7D5A5A;
}
